.herobanner {
    position: relative;

    &__banner-img {
        width: 100%;
        @include breakpoint (ipad-max) {
            height: 450px;
        }
        @include breakpoint (mobile-max) {
            height: 400px;
        }
        @include breakpoint (portrait-mobile-max) {
            height: 350px;
        }
    }

    &__content-center {
        position: absolute;
        top: 40%;
        left: 160px;

        @include breakpoint (ipad-max) {
            left: 25px;
        }

        @include breakpoint (mobile-max) {
            left: 18px;
        }

        @include breakpoint (custom-small-mobile-max) {
            left: 15px;
            width: 90%;
        }
    }

    &__content-right {
        width: 128px;
        position: absolute;
        color: $color-white;
        right: 100px;
        bottom: 80px;
        text-align: end;

        @include breakpoint(desktop-max) {
            right: 60px;
            bottom: 30px;
        }
        @include breakpoint (mobile-max) {
            width: 90px;
        }
        @include breakpoint (portrait-mobile-max) {
            right: 12px;
            bottom: 10px;
        }

        @include breakpoint (custom-small-mobile-max) {
            right: 17px;
            bottom: 7;
        }
    }

    &__headings {
        color: $color-white;
        font-size: 75px;
        font-weight: 700;
        width: 550px;
        @include breakpoint (ipad-max) {
            font-size: 58px;
            width: 62%;
        }
        @include breakpoint (mobile-max) {
            font-size: 37px;
            width: 62%;
        }

        @include breakpoint (portrait-mobile-max) {
            font-size: 33px;
            width: 98%;
        }

        @include breakpoint (custom-small-mobile-max) {
            font-size:27px;
            width: 100%;
        }
    }

    &__headings-text {
        font-weight: 400;
    }


    &__content-right-turn {
        font-size: 15px;
        text-align: end;
        font-weight: 700;
        margin: 0;
        @include breakpoint (mobile-max) {
            font-size: 11px;
        }
    }

    &__content-right-center {
        font-weight: 700;
        font-size: 57px;
        margin: 0;
        @include breakpoint (desktop-max) {
            font-size: 50px;
        }
        @include breakpoint (mobile-max) {
            font-size: 40px;
        }
        @include breakpoint (portrait-mobile-max) {
            font-size: 24px;
        }
    }

    &__content-right-bottom {
        display: flex;
        justify-content: space-between;

        @include breakpoint (portrait-mobile-max) {
            justify-content: space-around;
        }
    }

    &__content-right-heading {
        font-size: 15px;
        font-weight: 700;
        @include breakpoint (mobile-max) {
            font-size: 11px;
        }
    }

    &__bottom-image {
        position: absolute;
        z-index: 5;
        bottom: -84px;
        width: 100%;
    }
}

//whatsnew block

.whatsnew {
    background: $color-whitesmoke;
    padding-top: 57px;
    padding-bottom: 150px;
    position: relative;
    margin-top: 40px;
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__left{
       width: 11.48%;
       @include breakpoint (portrait-mobile-max) {
       width: 100%;
       margin-bottom: 25px;
       margin-left: 50px;
       @include breakpoint (custom-small-mobile-max) {
        margin-left: 30px;
    }
    }
    }
    &__right{
        width: 75.32%;
        margin-left: 13.19%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include breakpoint (portrait-mobile-max) {
            width: 100%;
            margin-left: 0;
         }
    }

    &__content {
        @include breakpoint (mobile-max) {
            text-align: start;
            padding-left: 35px;
        }
        @include breakpoint (custom-small-mobile-max) {
            padding-left: 12px;
        }
    }
    &__heading {
        font-size: 44px;
        font-weight: 400;
        color: $color-grey;
        margin-top: 30px;
        @include breakpoint (ipad-max) {
            font-size: 30px;
            
        }
        @include breakpoint (mobile-max) {
            width: 100%;
        }
    }
    &__subheading {
        font-size: 20px;
        font-weight: 700;
        color: $primary-color;
        text-decoration: none;
    }
}

//plantnutrition block
.plantnutrition {
    background-image: url("../images/plantnutrition-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;

    @include breakpoint (mobile-max) {
        height: 652px;
    }

    @include breakpoint (portrait-mobile-max) {
        height: 670px;
    }

    @include breakpoint (custom-small-mobile-max) {
        height: 685px;
    }

    &::before {
        content: "";
        position: absolute;
        z-index: 2;
        top: -88px;
        width: 100%;
        height: 133px;
        background-image: url("../images/plantnutrition-top.png");
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -88px;
        width: 100%;
        height: 133px;
        background-image: url("../images/plantnutrition-bottom.png");
    }


    &__top-image {
        position: absolute;
        top: -88px;
        width: 100%;

        @include breakpoint (desktop-max) {
            top: -50px;
        }
    }

    &__bottom-image {
        position: absolute;
        bottom: -88px;
        width: 100%;

        @include breakpoint (desktop-max) {
            bottom: -50px;
        }
    }

    &__row {
        padding: 60px 0 60px 0;
        display: flex;
        padding: 60px 0 60px 0;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    &__content {
        width: 50%;
        z-index: 0;

        @include breakpoint (ipad-max) {
            width: 100%;
        }

        @include breakpoint (portrait-mobile-max) {
            width: 100%;
        }
    }

    &__heading {
        color: $color-white;
        font-size: 35px;
        font-weight: 700;
    }

    &__subheading {
        color: $color-white;
    }

    &__paragraph {
        font-size: 16px;
        font-weight: 400;
        color: $color-white;
    }

    &__image {
        width: 423px;
        height: auto;
        position: absolute;

        @include breakpoint (portrait-mobile-max) {
            width: 340px;
        }

        @include breakpoint (desktop-max) {
            bottom: 0;
        }

        @include breakpoint (custom-small-mobile-max) {
            width: 95%;
        }
    }
}

.growth {
    background-image: url("../images/growth-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding-top: 95px;
    color: $color-grey;

    &__heading {
        font-size: 44px;
    }

    &__paragraph {
        width: 456px;
        font-size: 16px;

        @include breakpoint (portrait-mobile-max) {
            font-size: 14;
            width: 300px;
        }
    }

    &__image {
        text-align: center;
    }
}

.growth__content {
    display: flex;
}

.growth__tree-img {
    height: 190px;
}

.slick-initialized .slick-slide {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 320px;

    @include breakpoint (ipad-max) {
        justify-content: space-evenly;
    }

    @include breakpoint (mobile-max) {
        justify-content: space-evenly;
        height: 400px;
    }

    @include breakpoint (portrait-mobile-max) {
        height: 475px;
    }
}

.slick-dots {
    position: absolute;
    right: 0;
    width: unset;
    padding: 0;
    bottom: 40%;

    @include breakpoint (mobile-max) {
        bottom: 51%;
    }

    @include breakpoint (portrait-mobile-max) {
        bottom: 18%;
    }
}

.slick-dots li {
    display: block;

    &:nth-child(1) {
        margin-left: 5px;
        margin-top: 10px;
        @include breakpoint (portrait-mobile-max) {
            margin-top: 0;
        }
    }

    &:nth-child(2) {
        margin-left: 15px;
        margin-top: 10px;
        @include breakpoint (portrait-mobile-max) {
            margin-top: 0;
        }
    }

    &:nth-child(3) {
        margin-left: 25px;
        margin-top: 10px;
        @include breakpoint (portrait-mobile-max) {
            margin-top: 0;
        }
    }

    &:nth-child(4) {
        margin-left: 30px;
        margin-top: 10px;
        @include breakpoint (portrait-mobile-max) {
            margin-top: 0;
        }
    }

    &:nth-child(5) {
        margin-left: 20px;
        margin-top: 10px;
        @include breakpoint (portrait-mobile-max) {
            margin-top: 0;
        }
    }

    &:nth-child(6) {
        margin-left: 10px;
        margin-top: 10px;
        @include breakpoint (portrait-mobile-max) {
            margin-top: 0;
        }
    }

    &:nth-child(7) {
        margin-left: 0px;
        margin-top: 10px;
        @include breakpoint (portrait-mobile-max) {
            margin-top: 0;
        }
    }

}

.slick-dots li.slick-active button:before {
    content: "";
    position: absolute;
    top: 0;
    background-image: url("../images/slick-arrow.png");
    height: 45px;
    width: 45px;
    background-repeat: no-repeat;
}

.slick-dots li button:before {
    font-size: 10px;
    color: $color-grey;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-next {
    right: 0;
}

//protection
.protection {
    position: relative;
    background-image: url("../images/crop-protection-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 700px;

    &__top-right {
        height: 275px;
        position: relative;
        width: 611px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        background: $color-white;

        @include breakpoint (ipad-max) {
            width: 60%;

        }

        @include breakpoint (mobile-max) {
            width: 58%;
        }

        @include breakpoint (portrait-mobile-max) {
            width: 100%;
            height: 225px;
        }

        @include breakpoint (custom-small-mobile-max) {
            flex-wrap: nowrap;
        }
    }

    &__top-right-logo {
        width: 45px;
        height: 48px;
        position: absolute;
        top: 0;
        right: 0;
    }

    &__top-right-content-heading {
        font-size: 44px;
        color: $color-grey;
        width: 254px;

        @include breakpoint (mobile-max) {
            font-size: 30px;
            width: 200px;
        }

        @include breakpoint (custom-small-mobile-max) {
            font-size: 32px;
        }
    }

    &__top-left {
        width: 368px;
        background: $color-yellow;
        display: flex;
        align-items: center;
        color: $color-white;
        padding: 70px 30px 28px 30px;
        position: absolute;
        top: 0;
        right: 0;

        @include breakpoint (ipad-max) {
            width: 38.5%;

        }

        @include breakpoint (mobile-max) {
            width: 38.7%;
        }

        @include breakpoint (portrait-mobile-max) {
            width: 100%;
            padding: 20px 0 20px 0;
            justify-content: center;
            position: absolute;
            bottom: 108;
            top: auto;
        }
    }

    &__top-left-heading {
        font-size: 133px;
        font-weight: 700;

        @include breakpoint (ipad-max) {
            font-size: 85px;
        }

        @include breakpoint (mobile-max) {
            font-size: 80px;
        }

        @include breakpoint (portrait-mobile-max) {
            font-size: 60px;
            text-align: center;
        }
    }

    &__top-left-square {
        font-size: 40px;
        font-weight: 700;
        top: -1.5em;
    }

    &__top-left-paragraph {
        font-size: 22px;
        font-weight: 700;

        @include breakpoint (ipad-max) {
            font-size: 20px;
        }

        @include breakpoint (mobile-max) {
            font-size: 19px;
        }

        @include breakpoint (portrait-mobile-max) {
            font-size: 19px;
            text-align: center;
        }
    }

    &__bottom-right {
        width: 297px;
        padding-top: 59px;
        padding-bottom: 68px;
        background: $color-white;
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: center;

        @include breakpoint (ipad-max) {
            width: 260px;
            padding-top: 41px;
            padding-bottom: 50px;
        }

        @include breakpoint (mobile-max) {
            width: 32%;
            padding: 0;
        }

        @include breakpoint (portrait-mobile-max) {
            width: 100%;
            height: 110px;
            text-align: center;
            background-color: $color-white;
        }

    }

    &__bottom-left {
        width: 392px;
        background: transparent;
        color: $color-white;
        position: absolute;
        bottom: 75px;
        left: 63px;

        @include breakpoint (mobile-max) {
            bottom: 30px;
            left: 26px;
        }

        @include breakpoint (portrait-mobile-max) {
            width: 100%;
            left: 0;
            bottom: 310px;
            text-align: center;
        }

        @include breakpoint (custom-small-mobile-max) {
            width: 99%;
            bottom: 318px;
        }

    }

    &__bottom-left-heading {
        font-size: 59px;
        font-weight: 700;

        @include breakpoint (mobile-max) {
            width: 50%;
            font-size: 40px;
        }

        @include breakpoint (portrait-mobile-max) {
            width: 100%;
        }
    }

    &__bottom-left-subheading {
        font-size: 22px;
        font-weight: 700;

        @include breakpoint (mobile-max) {
            font-size: 20px;
            width: 64%;
        }

        @include breakpoint (portrait-mobile-max) {
            width: 100%;
        }
    }

    &__award-img {
        @include breakpoint (mobile-max) {
            width: 80%;
        }
    }

    &__bottom-image {
        @include breakpoint (mobile-max) {
            width: 80%;
        }

        @include breakpoint (portrait-mobile-max) {
            width: 35%;
        }
    }
}

//gromar
.gromar {
    margin-top: 150px;

    &__content {
        overflow-x: scroll;
        max-width: 1152px;
        display: flex;

        @include breakpoint (mobile-max) {
            text-align: center;
        }
    }

    &__images {
        width: 178px;
    }

    &__logo {
        width: 161px;
        margin-right: 50px;

        @include breakpoint (portrait-mobile-max) {
            margin-right: 0;
        }
    }
}

//murugappan
.murugappan {
    background-image: url("../images/murugappan-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 753px;
    position: relative;
    display: flex;
    justify-content: center;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 158px;
        width: 100%;
        background: $color-white;
        border-bottom-right-radius: 158px;
        margin-top: -1px;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -86px;
        width: 100%;
        height: 133px;
        background-image: url("../images/b.png");
    }

    &__radius-shape {
        height: 158px;
        width: 100%;
        background: $color-white;
    }

    &__content {
        background: rgb(7 8 8 / 39%);
        width: 63.5%;
        height: 470px;
        margin-top: 129px;
        position: absolute;
        top: 32px;
        color: $color-white;
        padding-left: 65px;

        @include breakpoint (mobile-max) {
            padding-left: 15px;
        }
    }

    &__content-heading {
        font-size: 44px;
        font-weight: 700;
        margin-top: 150px;

        @include breakpoint (desktop-max) {
            margin-top: 10px;
        }

        @include breakpoint (portrait-mobile-max) {
            font-size: 33px;
        }

        @include breakpoint (custom-small-mobile-max) {
            font-size: 31px;
        }
    }

    &__content-subheading {
        font-size: 20px;
        font-weight: 700;
    }

    &__content-paragraph {
        font-size: 16px;
        width: 60%;

        @include breakpoint (ipad-max) {
            width: 73%;
            font-size: 15px;
        }

        @include breakpoint (portrait-mobile-max) {
            width: 90%;
            font-size: 13px;
        }

        @include breakpoint (custom-small-mobile-max) {
            font-size: 11px;
        }
    }

    &__chaireman {
        position: absolute;
        right: -90px;
        bottom: 0;

        @include breakpoint(desktop-max) {
            width: 48%;
        }

        @include breakpoint (ipad-max) {
            left: 400px;
        }

        @include breakpoint (mobile-max) {
            left: 277px;
        }

        @include breakpoint (portrait-mobile-max) {
            left: 180px;
        }

        @include breakpoint (custom-small-mobile-max) {
            left: 12px;
            width: 80%;
            bottom: -105px;
        }
    }

    &__bottom {
        background-image: url("../images/b.png");
        height: 124px;
        width: 100%;
        position: absolute;
        bottom: 0px;
    }
}