footer {
    background-color: $color-yellow;
    color: $color-white;
    padding-top: 100px;
}

.footer {
    width: 100%;
    padding: 0 148px 0 129px;

    @include breakpoint (desktop-max) {
        padding: 0 15px 0 15px;
    }

    &__logo {
        width: 56.5%;
        height: auto;

        @include breakpoint (mobile-max) {
            width: 100%;
        }

        @include breakpoint (portrait-mobile-max) {
            width: 33%;
            margin-bottom: 20px;
        }
    }

    &__heading {
        font-size: 20px;
        font-weight: 700;
    }

    &__order-list {
        list-style-type: none;
        padding: 0;
        line-height: 27px;
        font-size: 20px;
        font-weight: 400;
    }

    &__input-name {
        background: rgba(255, 255, 255, .15);
        padding: 7px 0 7px 21px;
        width: 100%;
        border-radius: 25px;
        border: none;
        font-size: 16px;

        &::placeholder {
            color: $color-white;
        }
    }

    &__input-email {
        background: rgba(255, 255, 255, .15);
        margin-top: 10px;
        padding: 7px 0 7px 21px;
        width: 100%;
        border-radius: 25px;
        border: none;
        font-size: 16px;

        &::placeholder {
            color: $color-white;
        }
    }

    &__form-col {
        padding-top: 15px;
        text-align: end;
        @include breakpoint (mobile-max) {
            text-align: start;
        }
    }

    &__hr {
        margin: 30px 0 0 0;
    }

    &__copyright {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        padding-top: 20px;
        padding-bottom: 56px;
        margin: 0;
    }
}