//font variables
$primary-font:Arial, Helvetica, sans-serif;
//primary colors
$primary-color:#F2752a;
$color-white: #fff;
$color-black: #000;
$light-grey: #CECECE;
$dark-grey: #494949;
$black-grey:#2d2d2d;
$color-yellow:#ffb016;
$color-whitesmoke:#fafafa;
$color-grey:#5e6052;
$color-lightblue:#22504c;
$color-border:#f57629;
$color-green:#009759;

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../font/icomoon" !default;

$icon-circule: "\e900";
$icon-tringle: "\e901";
$icon-search: "\e986";
$icon-menu: "\e9bd";

